@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.bgColor{
    background-color: $color-dark-blue !important;
}

.iconFooter{
    width:30px;
    height: 100%;
    color:$color-white;
}
