@import '../../styles/mixins.scss';
@import '../../styles/index.scss';


.cardToday {
    width: 80% !important;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width:170px;

    @include responsive_W750px {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}

.cardTodayBody{
    display: flex;
    flex-direction: row;
    @include responsive_W750px {
        flex-direction: column;
    }
}

.todayForecast {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 40%; 
    @include responsive_W750px {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}

.favContainer{
    display:flex;
    justify-content: space-between;
}

.forecastDetails{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}



.favorite {
    cursor: pointer;
    fill: yellow;
    stroke: yellow;
}

.notFavorite {
    cursor: pointer;
    // fill:none;
}