
.map{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pickCity{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}